docs/reporte_bajas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="reporteBajas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="animal" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:integer"/>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="especie" type="xs:string"/>
                            <xs:element name="causaBaja" type="xs:string"/>
                            <xs:element name="fechaBaja" type="xs:date"/>
                            <xs:element name="veterinarioResponsable" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>